body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    font-size: 32px;
    text-align: center;
    color: blue;
}

p {
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    color: red;
}